<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="WorldHeight" value="" />
    <add key="WorldWidth" value="" />
    <add key="NumberOfAgents" value="" />
    <add key="NumberOfFoodElements" value="" />
    <add key="MutationRate" value="" />
    <add key="NumberOfNeuronsInHiddenLayer" value="" />

    <add key="AgentSpeed" value="" />
    <!--How sepparated are the agent's eyes. This is in radians-->
    <add key="AgentEyeAngle" value="" />
    <!--How far the agent will see. It should be bigger than the AgentRadius-->
    <add key="AgentEyeDepth" value="" />
    <!--Rotation angle per Tick. This is in radians-->
    <add key="AgentRotationAngle" value="" />
    <add key="AgentInitialHealth" value="" />
    <add key="AgentRadius" value="" />
    <add key="AgentHealthFactor" value="" />
    <add key="AgentAgeFactor" value="" />

    <add key="FoodElementRadius" value="" />
    <add key="FoodElementHealthPoints" value="" />

  </appSettings>
</configuration>